<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="prees.js"></script>
</head>
<body>
  

<!-- <p> x = {{ x }} </p> 
<p> y = {{ y }} </p> 
<p> x + y = {{ x + y }} </p> -->
<!-- 
<p> {{ hero1 }} </p> 
<p> {{ hero2 }} </p> -->
<!-- 
<p *ngFor="let hero of heroes">{{hero}}</p> -->

<!-- <p>count: {{ count }}</p> 
<button (click)="increment()"> Increment </button> 
<button (click)="decrement()"> decrement </button> 
<button (click)="increment_hero()"> hero </button> 
<p>fruit {{heroes[count]}}</p> -->

<script src="prees.js"></script>


  <table class="screen">
  <tr class="screen"> 
    <td class="screen"><fieldset> <p> {{user_input}} <br> {{result}}</p> </fieldset><p>yossi_weinberger</p> </td>  
  </tr> 
  </table>

  <table> 
  <tr> 
    <td><button (click)="func('1')">1</button></td>
    <td><button (click)="func('2')" >2</button></td> 
    <td><button (click)="func('3')" >3</button></td> 
  </tr> 

  <tr> 
    <td><button (click)="func('4')" >4</button></td> 
    <td><button (click)="func('5')" >5</button></td> 
    <td><button (click)="func('6')" >6</button></td> 
  </tr> 

  <tr> 
    <td><button (click)="func('7')" >7</button></td> 
    <td><button (click)="func('8')" >8</button></td> 
    <td><button (click)="func('9')" >9</button></td> 
  </tr> 

  <tr> 
    <td><button (click)="func('+')" >+</button></td> 
    <td><button (click)="func('0')" >0</button></td> 
    <td><button (click)="func('-')" >-</button></td> 
  </tr>
  

  <tr> 
    <td><button (click)="func('*')" > X </button></td> 
    <td><button (click)="clear()" > C </button></td> 
    <td><button (click)="func('/')" > % </button></td>   
  </tr> 
  <!-- <tr> 
    <td><button (click)="add()" > + </button></td> 
    <td><button (click)="func(0)" > 0 </button></td> 
    <td><button (click)="min()" > - </button></td> 
  </tr> 

  <tr> 
    <td><button (click)="mult()" > X </button></td> 
    <td><button (click)="clear()" > C </button></td> 
    <td><button (click)="divide()" > % </button></td>   
  </tr>  -->
</table> 

<table class="space">
  <tr class="space"> 
    <td class="space"><button class="space" (click)="autput()" > = </button></td>   
  </tr> 
</table>


 
<!-- <p>calculation: {{str}}</p> -->
<!-- <p>num value = {{num1}}</p>
<p>num value = {{num2}}</p>
<p>oporator value = {{operator}}</p> -->
<!-- <p>result = {{result}}</p> -->

</body>
</html>